# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    env:
       PERL_USE_UNSAFE_INC: 0
       AUTHOR_TESTING: 1
       AUTOMATED_TESTING: 1
       RELEASE_TESTING: 1
       PERL_CARTON_PATH: $GITHUB_WORKSPACE/local

    strategy:
      matrix:
        perl-version:
          - 'latest'

    container:
      image: perl:${{ matrix.perl-version }}

    steps:
      - uses: actions/checkout@v1
      - name: Install prerequisites
        run: |
          add-apt-repository multiverse
          apt-get update
          apt-get -yqq install cpanminus fasta3 xz-utils
      - name: Install Test::Pod
        run: |
          cpan -fi Test::Pod
          cpan -fi Test::Pod::Coverage
      - name: Install Module::Build::Tiny
        run: |
          cpan -fi ExtUtils::Config
          cpan -fi Module::Build::Tiny
      - name: Install Bio::SeqIO
        run: |
          cpan -fi Bio::SeqIO
      - name: Create Build
        run: perl Build.PL
      - name: Build installdeps
        run: ./Build installdeps
      - name: Build install
        run: ./Build install
